<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dictionary">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/dictionary"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dictionary">
        <activity android:name=".word.date.DateActivity"></activity>
        <activity android:name=".word.bar.BarActivity" />
        <activity android:name=".word.hava.HavaActivity" />
        <activity android:name=".word.job.JobActivity" />
        <activity android:name=".word.mode.ModeActivity" />
        <activity android:name=".word.organ.OrganActivity" />
        <activity android:name=".WordActivity" />
        <activity android:name=".Prev">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Daily.DailyActivity" />
        <activity android:name=".Bank.BankActivity" />
        <activity android:name=".Restaurant.RestActivity" />
        <activity android:name=".Location.LocActivity" />
        <activity android:name=".expActivity" />
        <activity android:name=".FirstActivity" />
        <activity android:name=".Doctor.MainActivity" />
    </application>

</manifest>